<!DOCTYPE html>
<html>
  <body>
    <h1>Report of file copyright headers</h1>

    {{#headers}}
      <section>
      <h1>Hash: {{_key}}</h1>
<pre>{{content}}</pre>
      </section>
    {{/headers}}
  </body>
</html>