<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: sans-serif;
        max-width: 960px;
        margin: 2em auto;
      }

      section {
        padding: 2em;
      }

      h1, h2 {
        font-weight: 100;
        margin: 0;
      }

      pre {
        border: 1px dashed silver;
        padding: 10px;
      }

      .highlighted {
        color: #6200ee;
      }
    </style>
  </head>
  <body>
    <h1>Report of {{headersCount}} copyright headers in {{filesCount}} file(s)</h1>

    {{#headers}}
      <section>
        <h2>Header <span class="highlighted">{{name}}</span>: {{filesCount}} file(s)</h2>
        <pre>{{content}}</pre>

        <details>
          <summary>List of files</summary>
          <ul>
            {{#files}}
              <li><code>{{path}}</code></li>
            {{/files}}
          </ul>
        </details>
      </section>
    {{/headers}}

    <section>
      <h2>{{noHeaderCount}} file(s) with no header detected</h2>

      <details>
        <summary>List of files</summary>
        <ul>
          {{#noHeader}}
            <li><code>{{path}}</code></li>
          {{/noHeader}}
        </ul>
      </details>
    </section>
  </body>
</html>